body{
    margin: 0%;
    height : 100%;
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif; 
}

h1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px;
    font-size: 2.4rem;
}

p{
    text-align: center;
    font-size: 1.4rem; 
    font-weight: 400; 
    line-height: 24px; 
    margin: 0 100px 50px;
}

ul{
    cursor:default
}