<div class="navbar">
    <ul class="navbarAgencement">
        <li>
            <a>menu</a>
        </li>
        <li>
            <a (click)="goToActualite()">Actualité</a>
        </li>
        <li>
            <a (click)="goToMedias()">Medias</a>
        </li>
        <img src="assets\img\logoClub.jpg" alt="logo club"/>
        <li>
            <a>Billeterie</a>
        </li>
        <li>
            <a (click)="goToBoutique()">Boutique</a>
        </li>
        <li>
            <a>Profil</a>
        </li>
    </ul>
</div>
